.link {
  text-decoration: none;
  display: inline-block;
  background-color: #2b2b2b;
  color: darkgrey;
  text-align: center;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}

a.link:hover {
  background-color: #444444;
}

a.github {
  color: darkgrey;
  text-decoration: none;
  border-radius: 20px;
  background-color: #2b2b2b;
  padding: 10px;
}

p {
  color:darkgray;
}
